.App {
  text-align: center;
  font-family: 'Comic Sans,Roboto';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.create-movie-button {
  border-radius: 10px !important;
  margin-top: 20px;
}
.sort-component{
  border: 1px solid;
  width: 400px;
  margin: 40px auto;
  background-color: #1322324a;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
